<ol class="breadcrumb">
  <li><a title="Accueil" routerLink="/" routerLinkActive="active">Accueil</a></li>
  <li><a title="Pizzas" routerLink="/pizzas" routerLinkActive="active">Pizzas</a></li>
  <li class="active"><a title="{{title_form}}">{{title_form}}</a></li>
</ol>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">{{title_form}} une Pizza</h1>

    <div *ngIf="isLoading;else form_content" class="text-center marginTop65">
      <i class="fa fa-5x fa-spin fa-spinner"></i>
    </div>

    <ng-template #form_content>
      <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit(); ">

      <input *ngIf="id_to_update" type="hidden" formControlName="id_to_update"/>
      <p class="text-center ">
        <img *ngIf="selectedPizza && selectedPizza.img" class="img-responsive center-block" src="data:image/png;base64,{{selectedPizza.img}}">
        <label for="filePicker">Modifier l'image:</label><br>
        <input class="center-block" type="file" id="filePicker" (change)="handleFileSelect($event)">

        <textarea id="base64textarea" class="hidden" formControlName="img" placeholder="Base64 will appear here" cols="50" rows="15"></textarea>
      </p>
      <p>
        <label>Nom:</label>
        <input type="text" formControlName="name" class="form-control">
      </p>
      <p>
        <label>Description:</label>
        <input type="textarea" formControlName="description" class="form-control">
      </p>
      <p>
        <label>Prix</label>
        <input type="number" formControlName="price" class="form-control">
      </p>
      <p>
        <label>Ingrédients</label>
        <span *ngFor="let ingredient of listIngredient">
        <button type="button" (click)="toggleIngredient(ingredient._id)"
                class="btn btn-info"
                [ngClass]="{'active': selectedIngredients.indexOf(ingredient._id) !== -1}"
                role="alert">
          <i class="fa fa-hand-o-up"></i> {{ingredient.name}}
        </button>&nbsp;
      </span>
      </p>
      <p>
        <button type="submit" [disabled]="!form.valid">Submit</button>
      </p>
    </form>
    </ng-template>

  </div>
</div>

